@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease;

  cursor: none;
}

body {
  background-color: #fff;
  font-family: Poppins Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  color: white;
  position: relative;
  visibility: hidden;
  background: linear-gradient(
    60deg,
    #010c18 0%,
    #d62b48 25%,
    #ffffa1 60%,
    #ee4001
  );
}

header .bg {
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}
header .chinese {
  mix-blend-mode: color-dodge;
}
header .dragon {
  mix-blend-mode: overlay;
  position: absolute;
  animation: dragon 7s linear infinite alternate;
}

@keyframes dragon {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

header .header-content .logo {
  max-width: 270px;
  width: 270px;
}

header .header-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: 'data images';
  width: 100%;
  min-height: 100vh;
}

.content-left {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: data;
}

.content-left .logo {
  width: 275px;
  height: auto;
}

/* hero content start */
.content-left-inner .tag {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
}

.content-left-inner .movie-name,
.content-left-inner .movie-tag,
.movie-info {
  position: relative;
  overflow: hidden;
  display: block;
}
.content-left-inner .movie-name .upslide,
.up {
  display: inline-block;
}
.content-left-inner .movie-name {
  position: relative;

  font-size: 146px;
  font-weight: 300;
}

.content-left-inner .movie-name .rotet {
  font-size: 56px;
  position: absolute;
  top: 50px;
  right: -80px;
  transform: rotate(90deg);
  fill: transparent;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.content-left-inner .movie-tag {
  font-size: 60px;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 3rem;
}

.movie-info {
  margin: 5px 0;
}

.movie-info .tag-info {
  font-size: 20px;
}
.movie-info .data {
  font-size: 16px;
  color: #010c18;
  font-weight: bold;
  margin-left: 1rem;
}

/* hero content end */

/* casts section start */

.casts {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  width: 100%;

  position: relative;
}
.casts .cast-img {
  height: 125px;
  width: 125px;
  margin: 0 10px 10px 0;
  border-radius: 10px;
  background: white;
  position: relative;
  overflow: hidden;
}
.casts .cast-img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 0;
}
.cast-item .read-more {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 10px;
 
  opacity: 0;
}

.cast-item:hover .cast-img::before,
.cast-item:hover .read-more {
  opacity: 1;
}

.casts .cast-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* cast section end */

/* background images section start */

.content-right {
  position: relative;
  grid-area: images;
}

.content-right .bg1Box {
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 499px;
  border-bottom-left-radius: 125px;
}
.content-right .bg2Box {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 322px;
  height: 400px;

  border-top-right-radius: 125px;
}

.content-right .bg1Box img,
.content-right .bg2Box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-right .bg2Box img {
  object-fit: cover;
  object-position: center;
}

/* background images section start */

/* media queries start */

@media screen and (max-width: 1440px) {
  .content-right .bg1Box {
    width: 100%;
    height: 400px;
  }
  .content-right .bg2Box {
    width: 322px;
    height: 350px;
  }
  .content-left-inner .movie-name {
    font-size: 84px;
  }
  .content-left-inner .movie-name .rotet {
    font-size: 32px;
    position: absolute;
    top: 30px;
    right: -50px;
  }
  .content-left-inner .movie-tag {
    font-size: 34px;
  }
  .movie-info .tag-info {
    font-size: 18px;
  }
  .movie-info .data {
    font-size: 14px;
  }
}
@media screen and (max-width: 1290px) {
  .casts .cast-img {
    height: 80px;
    width: 80px;
  }

  .content-right .bg1Box {
    width: 80%;
    height: 400px;
  }
  .content-right .bg2Box {
    width: 280px;
    height: 350px;
    left: 8rem;
  }
}

@media screen and (max-width: 1180px) {
  .content-left-inner .movie-name {
    font-size: 64px;
  }
  .content-left-inner .movie-name .rotet {
    font-size: 24px;
    position: absolute;
    top: 25px;
    right: -50px;
  }
  .content-left-inner .movie-tag {
    font-size: 26px;
  }
  .movie-info .tag-info {
    font-size: 18px;
  }
  .movie-info .data {
    font-size: 14px;
  }
}
@media screen and (max-width: 1180px) {
  header .header-content-inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 'data' 'images';
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: #010c18;
  }
  .casts {
    display: flex;
    justify-content: space-between;
  }
  .content-right .bg2Box {
    display: none;
  }
  .content-right .bg1Box {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 400px;
    border-bottom-left-radius: 0;
  }
}
/* media queries end */
