#app-custom-cursor {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  transition: 0.1ms transform ease-in-out;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 60000;
  transform: translate3d(0, 0, 0);
}
